

<h2>Transient</h2>
<h4> @ViewBag.transient1</h4>
<h4>@ViewBag.transient2</h4>

<h2>Scoped</h2>
<h4>@ViewBag.scoped1</h4>
<h4>@ViewBag.scoped2</h4>

<h2>Singleton</h2>
<h4>@ViewBag.singleton1</h4>
<h4>@ViewBag.singleton2</h4>